body {
    background-color: #6d6d6d;
}

.centerblock {
    position: relative;
    padding-top: 350px;
    margin-top: 150px auto 0 auto;
    color: #6d6d6d;
    margin: 0;
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 5.625rem;
    font-family: 'Butcherman', cursive;
}

h2 {
    color: #000000;
    font-family: 'IM Fell English SC', serif;
    font-size: 2.5rem;
}
h3 {
    color: #000000;
    font-family: 'IM Fell English SC', serif;
    font-size: 1.5rem;
}
.grim {
    position: absolute;
    transform: rotate(-22deg);
    left: 1200px;
    top: 0px;
}

.cross {
    float: left;
    padding-left: 255px;

}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    text-shadow: 1px 1px 13px #000000;
    font-family: Georgia;
    color: #000000;
    font-size: 15px;
    background: #898989;
    padding: 10px 40px 10px 40px;
    border: solid #000000 1px;
    text-decoration: none;
}

.btn:hover {
    background: #000000;
    text-decoration: none;
}
.name {
    margin-left: 222px;
}
.top-container {
    padding-bottom: 500px;
    float: top;
    position: relative;
}
.middle-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.bottom-container {
    /* float: right;
    display: inline-block;*/ 
    padding-top: 200px;
}

.bmi{
    display:inline-block;
}




input, label {
    margin: 5px 5px;
}

.form-group {
    margin:auto;
    width: 450px;
}

.form-control {

    display:inline-block;
}

#inputState {
    width: 19%;
}

#inputZip {
    width: 15%;
}



.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}



a {
    text-decoration: none;
    padding: 8px 16px;
}

.previous {
    color: black;
}

.next {
    color: black;
    float: right;
}

.round {
    border-radius: 50%;
    border-width:1px;
}

.death-age {
    font-size: 18rem;
    font-family: 'Butcherman', cursive;
}

.try-again {
    position: fixed;
    bottom: -4px;
    left: 50%;
}